// WORKIING ON THE FRONT END, BUT BREAKING TESTS

// {
//   "presets": ["@babel/env", "@babel/preset-react"],
// }

// WORKIING FOR TESTS, BUT BREAKING FRONT END

{
  "presets": ["react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }], 
    "stage-0" 
  ]
}
