{
  "presets": ["@babel/preset-env", "@babel/preset-react", ],
}

// @babel/preset-env is a smart preset that allows you to use the latest JavaScript without needing to micromanage 
// which syntax transforms (and optionally, browser polyfills) are needed by your target environment(s).
// This both makes your life easier and JavaScript bundles smaller!

// @babel/preset-react includes the following plugins that allow for jsx parsing and transpilation
