@import "./index.scss";

.products-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;

  .product {
    width: 333px;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: 5px;
    border-color: color(primary);
    margin: 20px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

      &:hover {
        text-shadow: 5px 5px 5px color(secondary);
    }

    img {
      width:100%
    }

    .product-name {
      padding: 10px;
    }
  }
}
